@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@400;700&display=swap');

#intro{
    display: flex;
    justify-content: space-around;
    margin: 45px;
}
#introleft{
    padding: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#d1{
    color: black;
    font-family: 'Karantina', cursive;
}
#d1 h1{
    font-size: 8vh;
    color: black;
}
#d2 {
    margin-left: 40px;
    font-size: 2.5vh;
    display: flex;
    align-items:center;
    color: black;
    font-family: 'Karantina', cursive;
}
#d2 h1{
    margin-right: 20px;
    font-size: 8vh;
    color: black;
}
#d3 {
    font-size: 2.5vh;
    display: flex;
    color: black;
    align-items: center;
    font-family: 'Karantina', cursive;
}
#d3 h1{
    margin-left: 20px;
    font-size: 8vh;
    color: black;
}
#b{
    margin-top: 40px;
    display: flex;
    font-family: 'Lexend Exa', sans-serif;
}
#b2{
    margin-right: 30px;
    width: 10vw;
    padding: 1vw;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(34, 17, 108, 1);
}