#spot{
    display: flex;
    justify-content: center;
}
#spotlight{
    text-align: center;
    width: 50%;
}
#spot span{
    font-weight:900;
    color: black;
}
#spot h1 {
    font-size: 5vh;
    margin-bottom: 5vh;
}
#spot p{
    color: black;
    margin-bottom: 5vh;
}
#spot img{
    margin-bottom: 5vh;
}